@use "../../styles/variables.scss" as *;

.discount {
  padding: 80px 0;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .prevButton {
    position: absolute;
    left: 0;
    bottom: calc(50% - 25px);
  }
  .nextButton {
    position: absolute;
    right: 0;
    bottom: calc(50% - 25px);
  }
}
.container {
  overflow: hidden;
  width: 80%;
}
