.container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .catalogList {
    flex-grow: 1;
  }
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;

    .catalogList {
      order: 2;
    }

    .helpBar {
      order: 1;
    }
  }
}
