@use "../../styles/variables.scss" as *;

.container {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  .price {
    font-size: 18px;
    color: $beige;
  }
}
