@use "../../styles/variables.scss" as *;

.responses {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-weight: 600;
  font-size: 46px;
  color: $green;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;

  .prevButton {
    background-color: $orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid transparent;
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
    z-index: 3;
    @include setTr(background-color, border-color);

    &:hover {
      background-color: $beige;
      border-color: $orange;
    }
    &:hover .navIcons {
      color: $orange;
    }
  }
  .nextButton {
    @extend .prevButton;
    left: unset;
    right: 20px;
  }
  .navIcons {
    color: $beige;
    @include setTr(color);
  }
  .disabled {
    background-color: gray;
    pointer-events: none;
  }
}
.swiper {
  overflow: hidden;
  width: calc(100% - 180px);
}
