@use "../../styles/variables.scss" as *;

.responses {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-weight: 600;
  font-size: 46px;
  color: $green;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;

  .prevButton {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
  }
  .nextButton {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
  }
  .navIcons {
    color: $beige;
    @include setTr(color);
  }
  .disabled {
    background-color: gray;
    pointer-events: none;
  }
}
.swiper {
  overflow: hidden;
  width: calc(100% - 180px);
}
