@use "../../styles/variables.scss" as *;

.container {
  margin-top: 40px;
  background-color: #2031182d;
  backdrop-filter: blur(10px);
  border: 1px solid $beige;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    text-align: start;
    font-weight: 700;
    font-size: 24px;
    color: #f2e8cf;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
    .field {
      width: 100%;
    }
  }
}

.infoContainer {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid $beige-border;
  border-radius: 20px;

  .infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;

    .infoMainBlock {
      display: flex;
      align-items: center;
      gap: 15px;

      .icon {
        color: #f2e8cf;
      }

      .location {
        font-weight: 700;
        font-size: 14px;
        color: #f2e8cf;
      }
    }
  }
}
