@use "../../styles/variables.scss" as *;

.container {
  margin-top: 132px;
  display: flex;
  gap: 50px;

  .leftBlock {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;

    .imageBlock {
      display: flex;
      gap: 20px;

      .otherImages {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .otherImagesItem {
          width: 100px;
          .otherImagesImg {
            aspect-ratio: 1 / 1;
            border: 1px solid $beige;
            border-radius: 21px;
            box-shadow: 0 0 10px 0 rgba(242, 232, 207, 0.5);
          }
        }
      }
      .mainImage {
        aspect-ratio: 1 / 1;
        border: 1px solid #f2e8cf;
        border-radius: 21px;
        width: calc(100% - 120px);
        box-shadow: 0 0 10px 0 rgba(242, 232, 207, 0.5);
      }
    }
    .description {
      font-weight: 600;
      font-size: 16px;
      line-height: 126%;
      color: #f2e8cf;
    }
  }
  .rightBlock {
    width: 50%;
    padding: 50px;
    border: 1px solid #f2e8cf;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(242, 232, 207, 0.5);
    background-color: $darkGreen;
    position: relative;

    .nameBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .name {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 58px;
        color: #f2e8cf;
      }
    }
    .info {
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin-bottom: 40px;

      .price {
        font-weight: 700;
        font-size: 20px;
        color: rgba(242, 232, 207, 0.75);
      }
      .category {
        font-weight: 700;
        font-size: 20px;
        color: rgba(242, 232, 207, 0.75);
      }
    }
    .colorBlock {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .colorText {
        font-weight: 700;
        font-size: 20px;
        color: #f2e8cf;
      }
      .colors {
        display: flex;
        gap: 5px;

        .color {
          border: 1px solid $orange;
          border-radius: 50%;
        }
      }
    }
    .actionBlock {
      position: absolute;
      bottom: 50px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: calc(100% - 100px);
    }
  }
}
